# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
/.idea
/.scannerwork
/.nyc_output/*
!/.nyc_output/.gitkeep
/test/reports/*
!/test/reports/.gitkeep
/.env
/build
/dist